main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-box1 {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text {
    display: block;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 45px;
}

.main-feedback {
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 171px;
    height: 41px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    border: 1px solid;
    border-color: rgba(85, 81, 247, 1);
    color: rgba(85, 81, 247, 1);
    background: #FFFFFF;
    letter-spacing: 0.02em;
    transition: 0.3s linear;
}

.main-feedback:hover {
    color: #FFFFFF;
    background-color: #FF5C66;
    border: none;
}

.main-box2 {
    display: flex;
    justify-content: space-between;
}

.main-box3 {
    display: block;
    flex-grow: 1;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-box4 {
    display: flex;
    align-items: center;
    margin-bottom: -50px;
}

.main-box5 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.main-box6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-box7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 170px;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #FF5C66;
}

.box8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.box9 {
    margin-top: 50px;
}

.box10 {
    margin-bottom: -50px;
}

.box11 {
    margin-bottom: 80px;
}

.box13 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.box14 {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: -50px;
    text-align: center;
}

.box15 {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.box16 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 100px;
}



.main-text-under-image {
    position: absolute;
    width: 381px;
    height: 176px;
    left: 700px;
    top: 224px;
}

.bg-img1 {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-left: 150px;
    margin-top: 50px;
    width: 438px;
    height: 452px;
    z-index: -1;
}

.bg-img1 img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    transition: all 0.5s ease;
}

.nav-main li {
    margin-right: 40px;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #1C1D28;
}

.nav-main-item li:first-child {
    margin-left: 0px;
}

.nav-main-item li:last-child {
    margin-right: 0px;
}

.nav-main-item a:hover {
    color: rgba(255, 92, 102, 1);
    text-decoration: underline;
}

.box {
    display: flex;
    flex-direction: column;
}

.picbig {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
}

.pic1 {
    width: 100%;
}

.pics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    column-gap: 13px;
    margin-bottom: 26px;
}

.pic2 {
    width: 613px;
}

.pic3 {
    width: 471px;
}

.allworks {
    display: block;
    width: 171px;
    height: 41px;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 60px;
    margin-bottom: 80px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #5551F7;
    letter-spacing: 0.02em;
    transition: 0.3s linear;
}

.allworks:hover {
    color: #FFFFFF;
    background-color: #FF5C66;
}

sup {
    vertical-align: super;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #E8EDF6;
}

sup:hover {
    vertical-align: super;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FF5C66;
}

.nav-briefs li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #E8EDF6;
}

.nav-briefs a:hover {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;
    letter-spacing: 0.02em;
    color: #FF5C66;
}