body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    color: #171717;
}

html {
    scroll-behavior: smooth;
}

/* Utility */

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

/* Grid */

.container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}